/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --line-hight: 1.8;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Components*/
.special-heading {
  text-align: center;
  margin: 0;
  color: #ebeceb;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px 0 0;
  }
}
/* End Components*/

/* Start Header Style */
.header {
  height: 80px;
}
.header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .container h1 {
    font-size: 20px;
  }
}
.header .container .links {
  display: flex;
  align-items: center;
}
.header .container .links ul {
  display: flex;
}
.header .container .links ul li {
  padding: 10px;
}
@media (max-width: 991px) {
  .header .container .links ul {
    display: none;
  }
}
.header .container .links ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: 0.3s;
}
.header .container .links i {
  display: none;
}
.active-drawer {
  display: block !important;
  height: calc(100% + 20px);
  position: fixed;
  z-index: 1;
  top: -20px;
  right: 0;
  background-color: white;
  transition: 0.5s;
  padding-top: 60px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.closebtn {
  display: none;
  border: none;
  padding: 15px;
  font-size: 25px;
  background-color: transparent;
}
@media (max-width: 991px) {
  .header .container .links i {
    display: inline-block;
    padding-left: 10px;
  }
}
.header .container .links ul li:hover a::after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 3px;
  color: cadetblue;
  border-radius: 10px;
  background-image: linear-gradient(to right, #c898ff, #72a1ff);
  bottom: -10px;
  left: -5px;
}

@media (max-width: 991px) {
  header .container .links .order-btn button {
    padding: 0;
    font-size: 12px;
  }
}

/* End Header Style */

/* Start Landing Style */
.landing {
  height: calc(100vh - 80px);
}
@media (max-width: 991px) {
  .landing {
    height: initial;
  }
}

.landing .landing-content {
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-direction: row; */
}
@media (max-width: 767px) {
  .landing .landing-content {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.landing .container .details {
  flex: 1;
}
.order-btn {
  color: #000;
  background-color: transparent;
  border-radius: 30px;
  padding: 20px 50px;
  font-weight: 300;
  border: none;
  background-image: linear-gradient(to right, #c898ff, #72a1ff);
  color: white;
  transition: 0.3s;
}
.landing .container .landing-content .details button:hover {
  font-size: large;
}
.landing .container .landing-content .details h1 {
  font-size: 50px;
  letter-spacing: -2px;
}
.landing .container .landing-content .details p {
  line-height: 1.8;
  color: #797979;
}
.landing .container .product-image {
  flex: 1;
  /* position: relative; */
}
@media (max-width: 767px) {
  .landing .container .product-image {
    flex: none;
    height: initial;
  }
}

.landing .container .product-image::after {
  content: '';
  position: absolute;
  background: url(../images/back.svg);
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
  top: -5%;
  right: 10%;
  width: 150%;
  height: 100%;
  z-index: -1;
}
.landing .container .product-image img {
  width: 100%;
  object-fit: contain;
}
/* End Landing Style  */
/* Description */
.description {
  background-image: url('../images/i-o-background.svg'),
    linear-gradient(to right, #72a1ff, #c898ff);
  background-size: contain;
  position: relative;
}

.description .container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 410px;
}
.description .container img {
  position: absolute;
  height: 600px;
  object-fit: contain;
  top: calc(21px+16px+60px);
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.description .container .title {
  font-weight: bold;
  color: white;
}

.description .container p {
  line-height: 2;
  color: #eee;
}

/* Features */
.features {
  background-color: #f8fafe;
  padding-top: 120px;
  padding-bottom: 60px;
}

.features .container h2 {
  letter-spacing: 2px;
  font-size: 40px;
}
.features .container .features-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 60px;
}
.features .container .features-content .feature {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.features .container .features-content .feature i {
  height: 150px;
  padding: 25px;
  text-align: center;
}
.features .container .features-content .feature .sound-wave-icon {
  height: 150px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.features .container .features-content .feature .sound-wave-icon span {
  margin: 5px;
  height: 100%;
  width: 10px;
  border-radius: 20px;
  background-color: #000;
  transition: 0.3s;
}

.features .container .features-content .feature .sound-wave-icon :first-child {
  height: 20%;
}
.features .container .features-content .feature .sound-wave-icon :nth-child(2) {
  height: 60%;
}
.features .container .features-content .feature .sound-wave-icon :nth-child(3) {
  height: 80%;
}
.features .container .features-content .feature .sound-wave-icon :nth-child(4) {
  height: 90%;
}
.features .container .features-content .feature .sound-wave-icon :nth-child(5) {
  height: 50%;
}
.features .container .features-content .feature .sound-wave-icon :nth-child(6) {
  height: 70%;
}
.features .container .features-content .feature .sound-wave-icon :nth-child(7) {
  height: 20%;
}
.features .container .features-content .feature h3 {
  line-height: 1.6;
  letter-spacing: 2px;
  font-size: 30px;
}
.features .container .features-content .feature p {
  color: #777;
  font-weight: 100;
  line-height: 1.8;
}
.features .container .features-content :nth-child(4) {
  color: white;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c898ff),
    to(#72a1ff)
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.features .container .features-content :nth-child(4) p,
.features .container .features-content :nth-child(4) i,
.features .container .features-content :nth-child(4) h3 {
  color: #eee;
}
/* FAQ */
.faq {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  position: relative;
}

.faq .container {
  text-align: start;
}
@media (max-width: 767px) {
  .faq .container {
    text-align: center;
  }
}
.faq .container .heading-section {
  display: flex;
}
@media (max-width: 767px) {
  .faq .container .heading-section .air-pod {
    display: none;
  }
}
.faq .container .heading-section .form-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 60px;
}
.faq .container .heading-section .title h2 {
  letter-spacing: 2px;
  font-size: 40px;
}

.faq .container .heading-section .title p {
  color: #777;
  font-weight: 100;
  line-height: 1.6;
}
.faq .container .heading-section .form-content .text-form input {
  padding: 10px;
  width: 75%;
}
/* BUY */
.checkout {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.checkout .container {
  position: relative;
}
.checkout .container::before {
  content: '';
  height: 135%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-image: url(../images/triangle.svg);
  background-size: contain;
  top: -50px;
  left: -20px;
  background-repeat: no-repeat;
}
.checkout .container::after {
  content: '';
  height: 30%;
  width: 10%;
  position: absolute;
  background-image: url(../images/triangle.svg);
  background-size: contain;
  top: -30px;
  left: 25%;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .checkout .container::after,
  .checkout .container::before {
    display: none;
  }
}
.checkout .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 667px) {
  .checkout .container {
    flex-direction: column;
  }
}
.checkout .container .product-card {
  /* padding: 20px; */
  width: 30%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
@media (max-width: 991px) {
  .checkout .container .product-card {
    width: 60%;
  }
}
.checkout .container .product-card .image-silder {
  display: flex;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.checkout .container .product-card .image-silder span {
  background-color: gainsboro;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 2px;
}
.checkout .container .info {
  width: 40%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .checkout .container .info {
    width: 100%;
  }
}
@media (max-width: 667px) {
  .checkout .container .info {
    width: 100%;
    text-align: center;
  }
}
.checkout .container .info h2 {
  font-size: 40px;
  font-weight: bold;
}
.checkout .container .info p {
  color: #777;
  font-weight: 100;
  line-height: 1.8;
}
.checkout .container .info .colors {
  display: flex;
  justify-content: center;
}
.checkout .container .info .colors span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
}
.checkout .container .info .colors span:first-child {
  background-color: #000;
}
.checkout .container .info .colors span:last-child {
  background-color: #c898ff;
}
.checkout .container .info .colors span:nth-child(2) {
  background-color: bisque;
}

.checkout .container .product-card img {
  width: 100%;
}
.models-images {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
/* Models images  */
.models-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Contact us */
.contact-us {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-us .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.contact-us .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .container .title h2 {
  letter-spacing: 2px;
  font-size: 40px;
}
@media (max-width: 667px) {
  .contact-us .container .title h2 {
    letter-spacing: 0;
    font-size: initial;
  }
}
.contact-us .container .title span {
  margin-left: 10px;
  margin-right: 10px;
  height: 5px;
  width: 100px;
  background-color: #000;
  border-radius: 10px;
  background-image: linear-gradient(to right, #c898ff, #72a1ff);
}
.contact-us .container .contact-subtitle p {
  color: #777;
  font-weight: 100;
  padding-bottom: 20px;
  height: 1.6;
}
.contact-us .container .contact-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 30px;
}
@media (max-width: 667px) {
  .contact-us .container .contact-form {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.contact-us .container .contact-form .text-form label {
  display: block;
  color: #777;
  font-weight: 100;
}
.contact-us .container .contact-form .text-form input {
  padding: 10px;
  width: 100%;
  flex: 1;
}
.contact-us .container .contact-form .text-form:last-child input {
  height: 200px;
}
/* Footer */
.footer {
  /* padding-top: 60px; */
  padding-bottom: 60px;
  position: relative;
}
.footer::after {
  content: '';
  background-image: url(../images/r420-PF-Open_PF-Float-Rotate_00-0003-619_v4_MM_s_SIMP-1.png);
  position: absolute;
  height: 400px;
  width: 50%;
  left: 0;
  z-index: -1;
  background-size: contain;
  bottom: 0;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .footer::after {
    display: none;
  }
}
.footer .container {
  text-align: center;
}
.footer .container img {
  /* width: 30%; */
  height: 200px;
}
.footer .container hr {
  width: 40%;
}
.footer .container .social-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .container .social-row i {
  padding: 10px;
  margin: 5px;
  font-size: 30px;
  border-radius: 50%;
  border: 1px #000 solid;
}
